<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd ">
	
	<!-- 将User对象交给spring管理 -->
	<!-- bean元素: 使用该元素描述需要spring管理的容器对象 
			name: 获取对象的时候根系该名字获得对象
			class: 被管理对象的完整类名 
			scope: 属性
				singleton	默认，单例，创建的对象都是同一份地址
				prototype	多例，被表示为多例的对象，每次获得时才会创建，每次都是新的对象
				request		web环境下，对象与request生命周期一致，不用
				session		web环境下，对象与session生命周期一致，不用
			生命周期属性
				配置一个方法作为生命周期初始化方法，spring会在创建对象的时候立即调用
				配置一个方法作为生命周期销毁方法，spring在关闭并销毁所有对象前调用
	-->
		
	<bean name="user" class="com.m.bean.User" init-method="init" destroy-method="destroy">
		<!-- 为user对象中名为name的属性注入tom作为值 -->
		<property name="name" value="tom"></property>
		<property name="age" value="18"></property>
		<property name="car" ref="car"></property>
	</bean>
	
	<bean name="car" class="com.m.a_hello.TestObjectCar">
		<property name="name" value="车"></property>
		<property name="color" value="黑色"></property>
	</bean>
	
	<!-- =================================================== -->
	<!-- 复杂对象注入 -->
	 <bean name="complex" class="com.m.a_hello.ComplexObjectInject">  
            <!-- 数组 -->  
            <property name="a">  
                <array>  
                    <value>1</value>  
                    <value>2</value>  
                    <value>3</value>  
                </array>  
            </property>  
            <!-- list集合 -->  
            <property name="b">  
                <list>  
                    <value>1</value>  
                    <value>1</value>  
                    <value>1</value>  
                    <value>1</value>  
                </list>  
            </property>  
            <!-- map集合 -->  
            <property name="c">  
                <map>  
                    <entry key="1" value="1"></entry>     
                    <entry key="2" value="2"></entry>     
                    <entry key="3" value="3"></entry>     
                    <entry key="4" value="4"></entry>     
                </map>  
            </property>  
            <!-- properties -->  
            <property name="properties">  
                <props>  
                    <prop key="driverclass">com.m.a_hello.ComplexObjectInject</prop>  
                    <prop key="username">root</prop>  
                </props>  
            </property>  
     </bean>    
	
	<!-- 导入其他的spring配置文件 
			<import resource="cn/m/(以src文件目录为基础)(包名)(.作为路径划分)"/>
	-->
	
	
</beans>